Web References/OraWebService/processServicePartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:HDR1="http://schemas.perodua.com.my/EAI/servicePart/Inventory" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://VAWBMTD0.perodua.com.my/perodua/eai/process/inventory/ws/servicePart/processServicePartService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="processServicePartService" targetNamespace="http://VAWBMTD0.perodua.com.my/perodua/eai/process/inventory/ws/servicePart/processServicePartService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:inv="http://schemas.perodua.com.my/EAI/servicePart/Inventory" targetNamespace="http://schemas.perodua.com.my/EAI/servicePart/Inventory">
      <xsd:element name="batchID" nillable="true" type="xsd:string" />
      <xsd:element name="processType" nillable="true" type="xsd:string" />
      <xsd:element name="msgCode" nillable="true" type="xsd:string" />
      <xsd:element name="msgDesc" nillable="true" type="xsd:string" />
    </xsd:schema>
    <xsd:schema xmlns:inv="http://schemas.perodua.com.my/EAI/servicePart/Inventory" targetNamespace="http://VAWBMTD0.perodua.com.my/perodua/eai/process/inventory/ws/servicePart/processServicePartService">
      <xsd:import namespace="http://schemas.perodua.com.my/EAI/servicePart/Inventory" />
      <xsd:element name="processServicePartReqDoc" type="tns:processServicePartReqDoc" />
      <xsd:element name="processServicePartRespDoc" type="tns:processServicePartRespDoc" />
      <xsd:complexType name="processServicePartReqDoc">
        <xsd:sequence>
          <xsd:element ref="inv:batchID" />
          <xsd:element ref="inv:processType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="processServicePartRespDoc">
        <xsd:sequence>
          <xsd:element ref="inv:msgCode" />
          <xsd:element ref="inv:msgDesc" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="processServicePartService_PortType_processServicePartRespDoc">
    <wsdl:part name="parameters" element="tns:processServicePartRespDoc" />
  </wsdl:message>
  <wsdl:message name="processServicePartService_PortType_processServicePartReqDoc">
    <wsdl:part name="parameters" element="tns:processServicePartReqDoc" />
  </wsdl:message>
  <wsdl:portType name="processServicePartService_PortType">
    <wsdl:operation name="processServicePart">
      <wsdl:input message="tns:processServicePartService_PortType_processServicePartReqDoc" />
      <wsdl:output message="tns:processServicePartService_PortType_processServicePartRespDoc" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="perodua_eai_process_inventory_ws_servicePart_processServicePartService_Binder" type="tns:processServicePartService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processServicePart">
      <soap:operation soapAction="perodua_eai_process_inventory_ws_servicePart_processServicePartService_Binder_processServicePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="processServicePartService">
    <wsdl:port name="perodua_eai_process_inventory_ws_servicePart_processServicePartService_Port" binding="tns:perodua_eai_process_inventory_ws_servicePart_processServicePartService_Binder">
      <soap:address location="http://VAWBMTD0.perodua.com.my:4559/ws/perodua.eai.process.inventory.ws.servicePart:processServicePartService/perodua_eai_process_inventory_ws_servicePart_processServicePartService_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>