Web References/DCSWebService/DCSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DCSWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.14.126:8084/DCSWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDCSWebService_isConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:isConnected" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_isConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:isConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_isOracleConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:isOracleConnected" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_isOracleConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:isOracleConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_getTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getTime" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_getTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_verifyLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyLogin" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_verifyLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_insertData_InputMessage">
    <wsdl:part name="parameters" element="tns:insertData" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_insertData_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_updateData_InputMessage">
    <wsdl:part name="parameters" element="tns:updateData" />
  </wsdl:message>
  <wsdl:message name="IDCSWebService_updateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDCSWebService">
    <wsdl:operation name="isConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/isConnected" message="tns:IDCSWebService_isConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/isConnectedResponse" message="tns:IDCSWebService_isConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isOracleConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/isOracleConnected" message="tns:IDCSWebService_isOracleConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/isOracleConnectedResponse" message="tns:IDCSWebService_isOracleConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/getTime" message="tns:IDCSWebService_getTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/getTimeResponse" message="tns:IDCSWebService_getTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/verifyLogin" message="tns:IDCSWebService_verifyLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/verifyLoginResponse" message="tns:IDCSWebService_verifyLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/getData" message="tns:IDCSWebService_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/getDataResponse" message="tns:IDCSWebService_getData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/insertData" message="tns:IDCSWebService_insertData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/insertDataResponse" message="tns:IDCSWebService_insertData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCSWebService/updateData" message="tns:IDCSWebService_updateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCSWebService/updateDataResponse" message="tns:IDCSWebService_updateData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDCSWebService" type="tns:IDCSWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isConnected">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/isConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isOracleConnected">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/isOracleConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTime">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/getTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/verifyLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/insertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateData">
      <soap:operation soapAction="http://tempuri.org/IDCSWebService/updateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCSWebService">
    <wsdl:port name="BasicHttpBinding_IDCSWebService" binding="tns:BasicHttpBinding_IDCSWebService">
      <soap:address location="http://172.20.14.126:8084/DCSWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>